/*
    Document   : css/main．scss
    Created on : 2014-07-18 03:24 PM
    Author     : Lokeh
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Coda);

$viewmax: 960px;
$text-color-body: #333;

html {
    height: 100%;
}

body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    color: $text-color-body;
    font-size: 16px;
    height: 100%;
}

.logo {
    height: 100%;
    width: 100%;
    position: relative;
    .content {
        max-width: 960px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
        transform: translate(-50%, -50%);
        
        padding-left: 20px;
        padding-right: 20px;
        span#tagline {
            color: rgba(255, 121, 0, 0.7);
            @media (min-width: $screen-sm) {
                color: rgba(255, 121, 0, 1);
                font-weight: bold;
            } 
        }
    }
}

.block {
    text-align: center;
    padding: 25px;
}

#about {
    background: url('/img/about/bjj_mobile.jpg') no-repeat;
    background-size: auto 100%;
	background-position: 50% 0;
    background-blend-mode: overlay;
    background-color: #D8D8D8;
    
    @media(min-width: $screen-xs) {
        background: url('/img/about/bjj_mobile.jpg') no-repeat;
        background-size: 100% 100%;
        background-position: 50% 0;
        background-blend-mode: overlay;
        background-color: #D8D8D8;
    }
    
    @media (min-width: $screen-sm) {
        background: url('/img/about/bjj.jpg') no-repeat;
        background-size: 100%;
    	background-position: 0 68%;
        background-blend-mode: overlay;
   		background-color: #D8D8D8;
    }
    color: #222;
    
    @media (min-width: $screen-sm) {
        text-align: center;
        padding: 50px
    }
}

#phone {
    @extend .btn;
    @include button-variant(#eee, #333842, lighten(#333842, 10%));
}

.info {
    @include make-row();
    max-width: 600px;
    margin: 20px auto 0;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.contact, .hours {
    @include make-sm-column(6);

    @media (min-width: $screen-sm) {
        text-align: left;
    }
}

#products {
    background: #333842; //rgba(63, 70, 83, 0.75);
    h1, h2, h3 {
        color: #efefef;
    }
}

.content {
    max-width: 960px;
    margin: 0 auto;
    img {
        max-width: 100%;
    }
    
    h1, h2, h3 {
        text-align: left;
        font-family: 'Coda', cursive;
        margin-top: 0;
    }
}

.products, .brands {
    @include make-row();
    
    .product, .brand {
        @include make-md-column(3);
        img {
            margin: 10px auto;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }
        
        img:hover {
            transform: scale(1.1);
        }
    }
}

#modalPic {
    max-width: 100%;
}

.arrow-container{
    position: absolute;
    left: 50%;
    bottom: 10px;
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    transform: translateX(-50%);
}

.arrow {
    color: #999999;
    cursor: pointer;
}

#bigarrow {
    display: none;
}

#smallarrow {
    display: initial;
}

@media (min-width: $screen-xs) {
    #bigarrow {
        display: initial;
    }
    
    #smallarrow {
        display: none;
    }
}